! xterm ----------------------------------------------------------------------

xterm*termName: xterm-256color
xterm*dynamiccolors: true
xterm*locale: true

xterm.vt100.faceName:DejaVu Sans Mono:size=10:autohint=true
xterm.vt100.boldFont:DejaVu Sans Mono:size=10:bold:autohint=true
xterm.vt100.italicFont:DejaVu Sans Mono:size=10:italic:autohint=true
xterm.vt100.renderFont: true
!xterm*iconPixmap: ...
!xterm*iconPixmap:       /usr/share/pixmaps/gnome-gemvt.xbm
!xterm*iconMask:         /usr/share/pixmaps/gnome-gemvt-mask.xbm
!xterm*iconName: terminal
!Mwm*xterm*iconImage: /home/a/a1111aa/xterm.icon
xterm*boldMode: false
xterm*loginShell: true
xterm*cursorColor: rgb:00/80/00
xterm*scrollColor: black
xterm*visualBell: false
xterm*saveLines: 4096
!! xterm.VT100.allowSendEvents: True
!xterm*allowSendEvents: True
!xterm*sessionMgt: false
xterm*eightBitInput:  false
xterm*metaSendsEscape: true
xterm*internalBorder:  0
!xterm*highlightSelection:  true
!xterm*VT100*colorBDMode:  on
!xterm*VT100*colorBD:  blue
!xterm.VT100.eightBitOutput:  true
!xterm.VT100.titeInhibit:  false

! Make menus have a nice background
!xterm*mainMenu*backgroundPixmap:     gradient:vertical?dimension=400&start=gray10&end=gray40
!xterm*mainMenu*foreground:          white
!xterm*vtMenu*backgroundPixmap:       gradient:vertical?dimension=550&start=gray10&end=gray40
!xterm*vtMenu*foreground:             white
!xterm*fontMenu*backgroundPixmap:     gradient:vertical?dimension=300&start=gray10&end=gray40
!xterm*fontMenu*foreground:           white
!xterm*tekMenu*backgroundPixmap:      gradient:vertical?dimension=300&start=gray10&end=gray40
!xterm*tekMenu*foreground:            white
!xterm Profiles (idea from dag wieers)
xterm*rightScrollBar: true
xterm*on3Clicks:  regex [^ \n]+
xterm*on4Clicks: regex .*
xterm*on5Clicks: line

! terminal colors ------------------------------------------------------------
! DEFAULT
!*foreground: gray80
!*background: rgb:0C/0C/0C
!*color0: rgb:0C/0C/0C
!!*background: black
!!*color0: black
!*color1: red3
!*color2: green3
!*color3: yellow3
!*color4: DodgerBlue1
!*color5: magenta3
!*color6: cyan3
!*color7: gray90
!*color8: gray50
!*color9: red
!*color10: green
!*color11: yellow
!!*color12: blue2  THIS IS TOO DARK
!*color12: DodgerBlue3
!*color13: magenta
!*color14: cyan
!*color15: white
!*colorUL: yellow
!*colorBD: white

! Interesting color theme, when not using default
! needs testing.
!*background: rgb:00/00/00
!*foreground: gray80
!!*foreground: rgb:7f/7f/7f
!*color0:     rgb:00/00/00
!*color1:     rgb:9e/18/28
!*color2:     rgb:ae/ce/92
!*color3:     rgb:96/8a/38
!*color4:     rgb:41/41/71
!*color5:     rgb:96/3c/59
!*color6:     rgb:41/81/79
!*color7:     rgb:be/be/be
!*color8:     rgb:66/66/66
!*color9:     rgb:cf/61/71
!*color10:    rgb:c5/f7/79
!*color11:    rgb:ff/f7/96
!*color12:    rgb:41/86/be
!*color13:    rgb:cf/9e/be
!*color14:    rgb:71/be/be
!*color15:    rgb:ff/ff/ff

!! jwr low contrast
!
!!black
!*color0: rgb:22/22/22
!*color8: rgb:45/45/45
!
!!red
!*color1: rgb:9E/56/41
!*color9: rgb:CC/89/6D
!!green
!*color2: rgb:6C/7E/55
!*color10: rgb:C4/DF/90
!!yellow
!*color3: rgb:CA/AF/2B
!*color11: rgb:FF/E0/80
!!blue
!*color4: rgb:7F/B8/D8
!*color12: rgb:B8/DD/EA
!!magenta
!*color5: rgb:95/6D/9D
!*color13: rgb:C1/8F/CB
!!cyan
!*color6: rgb:4c/8e/a1
!*color14: rgb:6b/c1/d0
!!white
!*color7: rgb:80/80/80
!*color15: rgb:cd/cd/cd
!
!*borderColor: rgb:34/34/34
!*background: rgb:34/34/34
!*foreground: rgb:cd/cd/cd

! -----tangoesque scheme
*borderColor: rgb:14/14/14
*background: rgb:14/14/14
*foreground: rgb:cd/cd/cd
!*foreground: rgb:ba/bd/b6
! Black (not tango) + DarkGrey
*color0:  rgb:00/00/00
*color8:  rgb:55/57/53
! DarkRed + Red
*color1:  rgb:ff/65/65
*color9:  rgb:ff/8d/8d
! DarkGreen + Green
*color2:  rgb:93/d4/4f
*color10: rgb:b4/df/80
!*color10: rgb:c8/e7/a8
! DarkYellow + Yellow
*color3:  rgb:ea/b9/3d
*color11: rgb:ff/c1/23
! DarkBlue + Blue
*color4:  rgb:40/6a/a7
*color12: rgb:44/75/b4
! DarkMagenta + Magenta
*color5:  rgb:ce/5c/00
*color13: rgb:f5/79/00
!DarkCyan + Cyan (both not tango)
*color6:  rgb:89/b6/e2
*color14: rgb:46/a4/ff
! LightGrey + White
*color7:  rgb:cc/cc/cc
*color15: rgb:ff/ff/ff

! yeahconsole ----------------------------------------------------------------------
yeahconsole*restart:		1
!yeahconsole*background:  	black
!yeahconsole*foreground: 	white
!yeahconsole*loginShell:	True
!yeahconsole*handleWidth:	2
!yeahconsole*handleColor:	rgb:ed/05/05
!yeahconsole*term:		xterm
!yeahconsole*scrollBar: 	false
!yeahconsole*reverseVideo: 	false
!yeahconsole*tintColor: 	rgb:00/00/00
!yeahconsole*inheritPixmap: 	true
!yeahconsole*shading:		25
!yeahconsole*saveLines: 	10000
!yeahconsole*cursorBlink: 	true
!yeahconsole*font: 		xft:Terminus:pixelsize=11:antialias=true:hinting=true

yeahconsole*toggleKey: None+F12
yeahconsole*consoleHeight: 20
!yeahconsole*aniDelay: 3
!yeahconsole*stepSize: 5
yeahconsole*aniDelay: 0
yeahconsole*stepSize: 0
!yeahconsole*faceName: Courier:style=Regular
!yeahconsole*faceSize: 12
!yeahconsole*font:		-Misc-Fixed-Medium-R-Normal--20-200-75-75-C-100-ISO10646-1
yeahconsole*font:		-*-terminus-*-*-*-*-16-*-*-*-*-*-ISO8859-*
yeahconsole*boldFont:		-*-terminus-*-*-*-*-14-*-*-*-*-*-ISO8859-*
yeahconsole*boldMode: false

! xft  ----------------------------------------------------------------------
!Xft.dpi: 96
!Xft.antialias: 1
!Xft.hinting: 1
!Xft.hintstyle: hintfull
!Xft.lcdfilter: lcddefault
!Xft.rgba: rgb
!Xft.autohint: 0

! urxvt ----------------------------------------------------------------------
!urxvt*geometry:     80x25
urxvt*imLocale:en_US.utf8
!urxvt*depth:32
!urxvt*background:rgba:0000/0000/0000/dddd
!urxvt*foreground:white
urxvt*underlineColor:blue
urxvt*cursorColor: rgb:00/80/00
urxvt*buffered:true
urxvt*inheritPixmap:false
!urxvt*transparent:true
! Shading: 0..100 = darker -1..-100 = lighter
!urxvt*shading:10
! Fading: higher number = darker shade on unfocus
!urxvt*fading:40
urxvt*urlLauncher:uzbl
!urxvt*font:xft:Bitstream Vera Sans Mono:pixelsize=14:autohint=true
!urxvt*boldFont:xft:Bitstream Vera Sans Mono:bold:pixelsize=14:autohint=true
!urxvt*italicFont:xft:Bitstream Vera Sans Mono:bold:pixelsize=14:autohint=true

!urxvt*font:xft:Terminus:size=10:autohint=true
!urxvt*boldFont:xft:Terminus:size=10:bold:autohint=true
!urxvt*italicFont:xft:Terminus:size=10:italic:autohint=true

urxvt*font:xft:Ubuntu Mono:size=13:autohint=true
urxvt*boldFont:xft:Ubuntu Mono:size=13:bold:autohint=true
urxvt*italicFont:xft:Ubuntu Mono:size=13:italic:autohint=true

!URxvt.letterSpace: -1
urxvt*scrollBar:false
urxvt*scrollStyle:plain
urxvt*scrollBar_right:true
urxvt*scrollTtyOutput:false
urxvt*scrollTtyKeypress:true
urxvt*scrollWithBuffer:true
urxvt*jumpScroll:false
urxvt*saveLines:6400
urxvt*borderLess:false
urxvt*loginshell:true
!urxvt*borderColor:black
urxvt*scrollBar_floating:true
!urxvt*internalBorder:4
urxvt*tripleclickwords:true
urxvt*perl-ext-common:default,matcher,remote-clipboard
!urxvt*keysym.M-u:perl:matcher:list
urxvt*keysym.Control-Up:\033[1;5A
urxvt*keysym.Control-Down:\033[1;5B
urxvt*keysym.Control-Left:\033[1;5D
urxvt*keysym.Control-Right:\033[1;5C
